<div class= "d-flex align-items-center justify-content-center">
<body class="bg-light">
  <div class="container text-secondary">
    <h3>Edit</h3>
    <%= form_with(model: @diary, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "Title", rows: "10" %>
      <%= form.collection_select(:country_id, Country.all, :id, :name, {}, {class:"form-select"}) %>
      <%= form.text_field :city, placeholder: "City/Place" %>
      <div class="field">
      <%= form.label :image, "Image" %><br />
      <%= form.file_field :image, id:"image" %>
      </div>
      <%= form.text_area :content, placeholder: "text", rows: "100" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>
</div>