<div class="container-sm">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead text-muted" >今までのみなさんの旅日記を共有しませんか？ <br> 次に旅したい場所 また行ってみたい 世界の場所を探してみましょう</p>
        <p>
        <% if user_signed_in? %>
          <a href="#" class="btn btn-outline-success">私の旅日記</a>
          <a href="#" class="btn btn-outline-success">行きたいとこリスト</a>
        <% end %>
        </p>
      </div>
    </div>
  <br>
   <div class="row">
  <div class="col align-self-center">
    <li class='list'>
     <% if user_signed_in? %>
      <% @diaries.each do |diary| %>
        <body class="bg-light">
          <div class="container text-secondary">
          <%= image_tag diary.image.variant(resize: '300x300'), class: "img-fluid img-thumbnail"  if diary.image.attached?%>
          </div>
          <div class="card-body">
          <h5 class="card-title"> <%= diary.title %> </h5>
          </div><br/>
          <a href="/users/<%= diary.user.id %>" class="btn btn-success"><%= current_user.nickname %></a>
          <a href="diaries/<%= diary.id %>" class="btn btn-outline-success">Show</a>              
        </body>
      <% end %>
     <% end %>
     </li>
   </div>
   </div>
     
     <% if @user == nil && @diaries.length == 0 %>
      <div class="container-sm text-secondary" style="width: 18rem;">
      <div class="text-center">
        <%= link_to image_tag("christmas.jpeg"), root_path %>
        </div>
      </div>
    <% end %>

 </main>


<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
      
  </body>
</html>
