<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin Template · Bootstrap v5.0</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="bootstrap.css" rel="stylesheets">
   </head>
   <body class="text-center bg-light">

   <div class='card-body'>
    <%= image_tag @diary.image.variant(resize: '500x500'), class: "img-fluid img-thumbnail" %>
  </div>
    <h3 class="card-title">
      <%= @diary.title %>
    </h5>
     </p>

    <p class='card-text'>
      <%= @diary.content %>
    </p>

     <% if @diary.user_id = current_user.id %>
      <div class="btn-group">
        <%= button_to 'Edit', edit_diary_path(@diary.id), method: :get, role: "button" %>
        <%= button_to 'Delete', diary_path(@diary.id), method: :delete, role: "button" %>
      </div>
     <% end %>


        <h2>Map</h2>
        <input id="address" type="textbox" value="where?">
        <input type="button" value="Encode" onclick="codeAddress()">

        <div id="display"></div>
        <div id='map'></div>

       <style>
        #map {
         height: 400px;
         width: 400px;
         margin: 0 auto;
        }
      </style>

     <script>
     let map

    function initMap(){
     geocoder = new google.maps.Geocoder()

     map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: 40.7828, lng:-73.9653},
     zoom: 12,
     });

    marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
    }); 
    }
    let geocoder
    const display = document.getElementById('display')

   function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
            display.textContent = "検索結果：" + results[ 0 ].geometry.location
     } else {
      alert('該当する結果がありませんでした：' + status);
    }
    });   
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtu_iDGk_CQq0YYN6f5D4ANusIVvNOuxI&callback=initMap" async defer></script>

         <span class="name">
         <a href="/users/<%= @diary.user.id %>" class="link-secondary">
        <span>投稿者</span><br/><%= @diary.user.nickname %>
        </a>
         </span>
        </div>         
  </div>
 </div>
 </div>
 </body>