<div class="col">
  <div class="card shadow-sm">
    <%= image_tag @diary.image, class: "img-fluid img-thumbnail" %>
  </div>
  <div class='card-body'>
    <p class='card-text'>
      <%= @diary.title %>
     </p>
    <div class='item-price'>
      <div class="d-flex justify-content-between align-items-center">
        <% if @diary.user_id = current_user.id %>
         <div class="btn-group">
            <%= link_to 'Edit', edit_diary_path(@diary.id), method: :get %>
            <%# <%= link_to 'Delete', delete_diary_path(@diary.id), method: :delete %> 
         </div>
        <% end %>
         <p><%= @diary.content %></p>
         <span class="name"><%= @diary.title %>
         </span>
        </div>         
    </div>
  </div>
</div>