<div class="container text-secondary">
  <div class= "d-flex align-items-center justify-content-center">
    <%= image_tag @diary.image, class: "img-fluid img-thumbnail" %>
  </div>
  <div class='card-body'>
    <p class='card-text'>
      <%= @diary.title %>
     </p>
    <div class='item-price'>
      <div class="d-flex justify-content-between align-items-center">
        <% if @diary.user_id = current_user.id %>
         <div class="btn-group">
            <%= button_to 'Edit', edit_diary_path(@diary.id), method: :get, role: "button" %>
            <%= button_to 'Delete', diary_path(@diary.id), method: :delete, role: "button" %>
         </div>
        <% end %>
         <p><%= @diary.content %></p>
         <span class="name">
         <a href="/users/<%= @diary.user.id %>">
        <span>投稿者</span><%= @diary.user.nickname %>
        </a>
         </span>
        </div>         
    </div>
  </div>
 </div>
 </div>