<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head> 
  <body>
      <header class="header">
        <%= link_to image_tag("wd.png", class: :logo), root_path %>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Top</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item active">
                 <span><%= current_user.nickname %>
                  <a class="nav-link" href="/users/sign_out" data-method="delete">Sign out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New post</a>
                </li>
            <% else %>
                <li class="nav-item active">
                  <a class="nav-link" href="/users/sign_up">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_in">Sign in</a>
                </li>
            <% end %>
            </ul>

        </div>
    </nav>

      <%= yield %>
      <footer class="footer">
      <p></p>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
